<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBX_zJkblIr8GCj_tNhuP0ATQT0sMqVL1A</string>
	<key>GCM_SENDER_ID</key>
	<string>62901783281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xyz.Scheduleia</string>
	<key>PROJECT_ID</key>
	<string>scheduleia-c63e6</string>
	<key>STORAGE_BUCKET</key>
	<string>scheduleia-c63e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:62901783281:ios:85b0fc3ee23ef46ed2b750</string>
</dict>
</plist>